

/* .geekmark{
 margin: 400px;
 width: 50px;
} */

input{
  color: green;
  font-family: 'Press Start 2P', cursive;
  font-size: calc(14px + (36 - 14) * ((100vw - 300px) / (1600 - 300)));
  width:90%;
  margin-left: 20px;
  background-color: black;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  caret-color: green;
  
  
}

input[type=checkbox] {
  position: absolute;
  width:0%;
  margin-left: -20px;
  /* justify-self: center;
  align-self: center;
  align-content: center;
  justify-content: center; */
  margin-top: 10px;
  /* height: 50px; */
  /* border: solid red; 
  border-width: 0 4px 4px 0;  */
  /* margin-right: 60px; */
  
}

input::selection {
  background: lightgreen;
}

li {
  outline: none;
}